


<section id="api" class="cliens white-bg">
  <div class="container">
    
    <div class="section-title">
      <h2>API </h2>
    </div>

    <div class="row aos-init aos-animate" data-aos="zoom-in">
      <table class="table ">
        {% for row in page.api %}
          <tr>
            <td width="50px">  <span class="pill">{{row.method}} </span></td>
            <td width="250px" class="text-left"> {{row.url}} </td>
            <td class="text-right"> {{row.description}} </td>
          </tr>
          {% endfor %}
      </table>   
    </div>

  </div>
  <style>
    .pill{
      
    font-family: "Jost", sans-serif;
    font-weight: 300;
    font-size: 13px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 28px 11px 28px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 0px 0 0 0;
    color: #fff;
    background: #47b2e4;
    }
  </style>
</section>

