<!-- Clients Aside -->
<aside class="clients" id="clients">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">
                    הלקוחות שלנו
                </h2>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <a href="#">
                    <img src="img/clients/analyst-logo-wide.png" class=" img-logo  img-centered" alt="" style="height:100px;width:200px;">
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="#">
                    <img src="img/clients/inter-il-edu.png" class=" img-logo  img-centered" alt="" style="height:100px;width:200px;">
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="#">
                    <img src="img/clients/BDO.png" class=" img-logo  img-centered" alt="" style="height:100px;width:200px;">
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="#">
                    <img src="img/clients/rashut.png" class=" img-logo  img-centered" alt="" style="height:100px;width:200px;">
                </a>
            </div>
           

        </div>
     
    </div>
</aside>

<style>
    .image-logo{
        height: 100px;
        width: 200px;
    }
</style>