<!-- ======= Header ======= -->
<header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

        <a href="index.html" class="logo mr-auto"> <h4 style="font-size:22px;">
                <img src="img/Lighthouse free icon.png" alt="" class="img-fluid" >
                Dalore Finanacial</h4></a>
        <!--<h1 class="logo _mr-auto float-right"><a href="index.html">Dalore Finacial</a></h1> -->
        <!-- Uncomment below if you prefer to use an image logo -->

        <nav class="nav-menu d-none d-lg-block float-left" style="margin-left:300px">
            <ul>

                <li><a href="index.html#contact">צור קשר</a></li>

                <li class="drop-down"><a href=""> ניהול תיקים 2.0</a>
                    <ul class="text-right">
                        <li><a href="tikim2.html"> מערכות מסחר לבתי השקעות </a></li>
                        <li><a href="tikim2-api"> API למסחר בניהול תיקים 2.0 </a></li>
                    </ul>
                </li>


                <li class="drop-down"><a href="">שרותים</a>
                    <ul class="text-right">
                        <li><a href="market-data.html">נתוני שוק מהבורסה לניע</a></li>
                        
                        <li><a href="ibttp.html"> חיבור למערכות מסחר BRIDGE</a></li>
                        <li><a href="sivron.html"> חיבור למערכות מסחר SIVRON </a></li>
                        <li><a href="fmr.html"> חיבור למערכות מסחר  FMR </a></li>
                    </ul>
                </li>


                <li class="drop-down"><a href="">מוצרים</a>
                    <ul class="text-right">
                        <li><a href="crm.html">מערכת  CRM </a></li>
                        <li><a href="trading-room.html"> מערכות ניהול חדר מסחר </a></li>
                        <li><a href="robots.html">פיתוח אסטרטגיות מסחר</a></li>

                    </ul>
                </li>

                <li class="active"><a href="index.html">ראשי</a></li>
            </ul>
        </nav><!-- .nav-menu -->



    </div>
</header><!-- End Header -->
