
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-7 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1 text-hebrew text-right" data-aos="fade-up" data-aos-delay="200">
            
          <h1>
            <img src="img/Lighthouse free icon.svg"  width="50px"  alt="" class="text-right float-right" style="margin-left:0.5em;">    
                דלור פיננסים
            </h1>
          <h2>
            
            דלור פתרונות תוכנה פיננסים מתמחה בפיתוח מערכות לבתי השקעות , קרנות גידור וגופים פיננסים הכוללים מערכת מסחר בנירות ערך בבורסה בישראל ובארה"ב 
ולמטבעות קריפטו
          </h2>
          
        </div>
        <div class="col-lg-5 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
          <img src="img/hero-img.png" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->
 