<!-- Clients Aside -->
<!-- Header -->
<header>
    <div class="container" dir="rtl">
        <div class="intro-text">
            <div class="intro-heading">
                <span class="fa-stack " style="font-size:40px;">
                    <i class="fa fa-circle fa-stack-2x text-red"></i>
                    <i class="fa fa-bullhorn fa-stack-1x fa-inverse"></i>
                </span>
                מכונת השיווק
                <h1 class="section-heading text-white text-bold">
                    מערכת שיווק
                </h1>
            </div>

        </div>

    </div>
</header>

<aside class="crm " style="margin-top:-400px; text-align: center;">
    <div class="container">
        <div class='row'>
            <div class='col-lg-12 text-center' style="text-align: center">
                <img src="/dalore-site/img/pages-desktop.png" width="1000px;">
            </div>
        </div>
    </div>
</aside>

<aside class="crm " style="text-align: center;">
    <div class="container">
        <div class='row'>
            <div class='col-lg-3 text-center'>

                <h3 class="text-bold text-center" style="text-align: center;">
                    <span class="fa-stack " style="font-size:40px;">
                        <i class="fa fa-circle fa-stack-2x text-red"></i>
                        <i class="fa fa-chart-area fa-stack-1x fa-inverse"></i>
                    </span>

                    <br />
                    <br />
                    דוחות ודשבורים
                </h3>

                <p class="text-right">
                    דוחות לניתור דפי הנחיתה והשוואת ביצעים מול עלויות
                </p>
            </div>
           
            <div class='col-lg-3 text-center' style="text-align: center;">
                <h3 class="text-bold">
                    <span class="fa-stack " style="font-size:40px;">
                        <i class="fa fa-circle fa-stack-2x text-red"></i>
                        <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                    </span>

                    <br />
                    <br />
                    רשתות חברתיות

                </h3>

                <p class="text-right">
                    פיתוח בשפת רובי הכוללת שידור פקודות, חישוב אינדיקטורים וחישוב סה"כ
                </p>
            </div>
            <div class='col-lg-3 text-center' style="text-align: center;">
                <h3 class="text-bold">
                    <span class="fa-stack " style="font-size:40px;">
                        <i class="fa fa-circle fa-stack-2x text-red"></i>
                        <i class="fas fa-mail-bulk fa-stack-1x fa-inverse"></i>
                    </span>
                    <br />
                    <br />
                    דיוור ישיר
                </h3>

                <p class="text-right">
                    שליחת התראות כשליד נוצר או לקוח מממלא דף נחיתה
                </p>
            </div>
            <div class='col-lg-3 text-center' style="text-align: center;">
                <h3 class="text-bold">
                    <span class="fa-stack " style="font-size:40px;">
                        <i class="fa fa-circle fa-stack-2x text-red"></i>
                        <i class="fab fa-html5 fa-stack-1x fa-inverse"></i>
                    </span>

                    <br />
                    <br />
                    דפי נחיתה
                </h3>

                <p class="text-right">
                    פיתוח בשפת רובי הכוללת שידור פקודות, חישוב אינדיקטורים וחישוב סה"כ
                </p>
            </div>
        </div>
    </div>
</aside>
<aside class="crm mt-100  pb-100 bg-dark" style="text-align: center;">
    <div class="container">
        <div class='row'>
            <div class='col-lg-12'>


                <h3 class="text-bold">
                    דפי נחיתה
                </h3>

            </div>
            <div class='col-lg-3'>
                <div class="item mb-100">
                    <h3 class="text-bold text-right">
                        <span class="fa-stack " style="font-size:16px">
                            <i class="fa fa-circle fa-stack-2x text-red"></i>
                            <i class="fa fa-robot fa-stack-1x fa-inverse"></i>
                        </span>
                        דפי נחיתה
                    </h3>
                    <p class="text-right">
                        פיתוח בשפת רובי הכוללת שידור פקודות, חישוב אינדיקטורים וחישוב סה"כ
                    </p>
                </div>
                <div class="item mb-100">
                    <h3 class="text-bold text-right">
                        <span class="fa-stack " style="font-size:16px">
                            <i class="fa fa-circle fa-stack-2x text-red"></i>
                            <i class="fa fa-robot fa-stack-1x fa-inverse"></i>
                        </span>
                        אופטימיזיה
                    </h3>
                    <p class="text-right">
                        פיתוח בשפת רובי הכוללת שידור פקודות, חישוב אינדיקטורים וחישוב סה"כ
                    </p>
                </div>
                <div class="item mb-100">
                    <h3 class="text-bold text-right">
                        <span class="fa-stack " style="font-size:16px">
                            <i class="fa fa-circle fa-stack-2x text-red"></i>
                            <i class="fa fa-robot fa-stack-1x fa-inverse"></i>
                        </span>
                        אופטימיזיה
                    </h3>
                    <p class="text-right">
                        פיתוח בשפת רובי הכוללת שידור פקודות, חישוב אינדיקטורים וחישוב סה"כ
                    </p>
                </div>
            </div>
            <div class='col-lg-9'>
                <br />
                <br />
                <img src="/dalore-site/img/pages-01.png" width="100%">
            </div>
        </div>
    </div>
</aside>
<aside class="crm mt-100  pb-100 " style="text-align: center;">
    <div class="container">
        <div class='row mt-100'>
            <div class='col-lg-12'>
                <h3 class="text-bold">
                    רשתות חברתיות
                </h3>

            </div>

            <div class='col-lg-9'>
                <br />
                <br />
                <img src="/dalore-site/img/pages-01.png" width="100%">
            </div>
            <div class='col-lg-3'>
                <div class="item mb-100">
                    <h3 class="text-bold text-right">
                        <span class="fa-stack " style="font-size:16px">
                            <i class="fa fa-circle fa-stack-2x text-red"></i>
                            <i class="fa fa-robot fa-stack-1x fa-inverse"></i>
                        </span>
                        רשתות חברתיות
                    </h3>
                    <p class="text-right">
                        פיתוח בשפת רובי הכוללת שידור פקודות, חישוב אינדיקטורים וחישוב סה"כ
                    </p>
                </div>
                <div class="item mb-100">
                    <h3 class="text-bold text-right">
                        <span class="fa-stack " style="font-size:16px">
                            <i class="fa fa-circle fa-stack-2x text-red"></i>
                            <i class="fa fa-robot fa-stack-1x fa-inverse"></i>
                        </span>
                        אופטימיזיה
                    </h3>
                    <p class="text-right">
                        פיתוח בשפת רובי הכוללת שידור פקודות, חישוב אינדיקטורים וחישוב סה"כ
                    </p>
                </div>
                <div class="item mb-100">
                    <h3 class="text-bold text-right">
                        <span class="fa-stack " style="font-size:16px">
                            <i class="fa fa-circle fa-stack-2x text-red"></i>
                            <i class="fa fa-robot fa-stack-1x fa-inverse"></i>
                        </span>
                        אופטימיזיה
                    </h3>
                    <p class="text-right">
                        פיתוח בשפת רובי הכוללת שידור פקודות, חישוב אינדיקטורים וחישוב סה"כ
                    </p>
                </div>
            </div>
        </div>
    </div>
</aside>
<aside class="crm mt-100  pb-100 bg-dark" style="text-align: center;">
    <div class="container">
        <div class='row'>
            <div class='col-lg-12'>


                <h3 class="text-bold">

                    התראות
                </h3>

            </div>
            <div class='col-lg-3'>
                <div class="item mb-100">
                    <h3 class="text-bold text-right">
                        <span class="fa-stack " style="font-size:16px">
                            <i class="fa fa-circle fa-stack-2x text-red"></i>
                            <i class="fa fa-robot fa-stack-1x fa-inverse"></i>
                        </span>
                        התראות
                    </h3>
                    <p class="text-right">
                        פיתוח בשפת רובי הכוללת שידור פקודות, חישוב אינדיקטורים וחישוב סה"כ
                    </p>
                </div>
                <div class="item mb-100">
                    <h3 class="text-bold text-right">
                        <span class="fa-stack " style="font-size:16px">
                            <i class="fa fa-circle fa-stack-2x text-red"></i>
                            <i class="fa fa-robot fa-stack-1x fa-inverse"></i>
                        </span>
                        אופטימיזיה
                    </h3>
                    <p class="text-right">
                        פיתוח בשפת רובי הכוללת שידור פקודות, חישוב אינדיקטורים וחישוב סה"כ
                    </p>
                </div>
                <div class="item mb-100">
                    <h3 class="text-bold text-right">
                        <span class="fa-stack " style="font-size:16px">
                            <i class="fa fa-circle fa-stack-2x text-red"></i>
                            <i class="fa fa-robot fa-stack-1x fa-inverse"></i>
                        </span>
                        אופטימיזיה
                    </h3>
                    <p class="text-right">
                        פיתוח בשפת רובי הכוללת שידור פקודות, חישוב אינדיקטורים וחישוב סה"כ
                    </p>
                </div>
            </div>
            <div class='col-lg-9'>
                <br />
                <br />
                <img src="/dalore-site/img/pages-01.png" width="100%">
            </div>
        </div>
    </div>
</aside>
<aside class="crm mt-100  pb-100 " style="text-align: center;">
    <div class="container">
        <div class='row mt-100'>
            <div class='col-lg-12'>
                <h3 class="text-bold">
                    דוחות ודשבורים

                </h3>

            </div>

            <div class='col-lg-9'>
                <br />
                <br />
                <img src="/dalore-site/img/pages-01.png" width="100%">
            </div>
            <div class='col-lg-3'>
                <div class="item mb-100">
                    <h3 class="text-bold text-right">
                        <span class="fa-stack " style="font-size:16px">
                            <i class="fa fa-circle fa-stack-2x text-red"></i>
                            <i class="fa fa-robot fa-stack-1x fa-inverse"></i>
                        </span>
                        דוחות ודשבורים

                    </h3>
                    <p class="text-right">
                        פיתוח בשפת רובי הכוללת שידור פקודות, חישוב אינדיקטורים וחישוב סה"כ
                    </p>
                </div>
                <div class="item mb-100">
                    <h3 class="text-bold text-right">
                        <span class="fa-stack " style="font-size:16px">
                            <i class="fa fa-circle fa-stack-2x text-red"></i>
                            <i class="fa fa-robot fa-stack-1x fa-inverse"></i>
                        </span>
                        אופטימיזיה
                    </h3>
                    <p class="text-right">
                        פיתוח בשפת רובי הכוללת שידור פקודות, חישוב אינדיקטורים וחישוב סה"כ
                    </p>
                </div>
                <div class="item mb-100">
                    <h3 class="text-bold text-right">
                        <span class="fa-stack " style="font-size:16px">
                            <i class="fa fa-circle fa-stack-2x text-red"></i>
                            <i class="fa fa-robot fa-stack-1x fa-inverse"></i>
                        </span>
                        אופטימיזיה
                    </h3>
                    <p class="text-right">
                        פיתוח בשפת רובי הכוללת שידור פקודות, חישוב אינדיקטורים וחישוב סה"כ
                    </p>
                </div>
            </div>
        </div>
    </div>
</aside>

<aside class="crm " style="text-align: center;">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <a href="#">
                    <img src="/dalore-site/img/logos/envato.jpg" class="img-responsive img-centered" alt="">
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="#">
                    <img src="/dalore-site/img/logos/designmodo.jpg" class="img-responsive img-centered" alt="">
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="#">
                    <img src="/dalore-site/img/logos/themeforest.jpg" class="img-responsive img-centered" alt="">
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="#">
                    <img src="/dalore-site/img/logos/creative-market.jpg" class="img-responsive img-centered" alt="">
                </a>
            </div>
        </div>
    </div>
</aside>



<style>
    .img-desktop-container {
        position: relative;
        top: 0;
        left: 0;
    }

    .img-outer-desktop {
        position: relative;
        top: 0;
        left: 0;
    }

    .img-inner-deskop {
        width: 1100px;
        height: 600px;
        position: absolute;
        top: 56px;
        left: 210px;
    }


    header {
        text-align: center;
        color: #fff;
        background-attachment: scroll;
        background-image: url('{{ site.baseurl }}/img/marketing.jpg');
        background-position: center center;
        background-repeat: none;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }
</style>