   <section id="portfolio" class="portfolio {{page.screenshots_background}}">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2> מסכים לדוגמא</h2>
          </div>
  
          <ul id="portfolio-flters" class="d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-card">מובייל</li>
            <li data-filter=".filter-web">Web</li>
          </ul>
  
          <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

               
              {% for img in page.screenshots %}
            <div class="col-lg-4 col-md-6 portfolio-item filter-{{img.category}}">
              <div class="portfolio-img"><img src="{{img.image_url}}" class="img-fluid" alt=""></div>
              <div class="portfolio-info" style="height:50px; text-align: center;">
                <a href="{{img.image_url}}" data-gall="portfolioGallery" class="venobox preview-link" title="{{img.caption}}" >
                <p> click to view</p>
                </a>
                
              </div>
            </div>
              {% endfor %}
              
            
           
            </div>
  
          </div>
  
        </div>
      </section><!-- End Portfolio Section -->