<!-- Services Section -->
<section id="products">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <hr />
                <h2 class="ssection-heading">
                    מוצרים
                </h2>
                <hr />
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <a href="//signals">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-red"></i>
                        <i class="fas fa-signal fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
                <h4 class="service-heading"> DALORE SIGNALS</h4>
                <p class="text-muted  text-right">
                    מערכת לזיהוי סיגנלים טכנים מנתוני שוק ההון. מאפשרת יצירת סקרינרים מתקדמים לזיהוי מגמות בשוק. המערכת
                    מתחברת לנתוני שוק המניות בארה"ב ולבייננס
                </p>
            </div>

            <div class="col-md-4">
                <a href="/ibttp">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-red"></i>
                        <i class="fa fa-plug fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
                <h4 class="service-heading"> IB Bridge </h4>
                <p class="text-muted text-right">
                    פתרון לחיבור בקלות לאינטרקטיב ברוקרס לקבלת נתוני חשבון ושוק ולהעברת הוראות.
                </p>
            </div>
            <div class="col-md-4">
                <a href="/rde">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-red"></i>
                        <i class="fa fa-robot fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
                <h4 class="service-heading"> Dalore RDE </h4>
                <p class="text-muted text-right">
                    פלטפורמה לפיתוח רובטים למסחר במניות ומטבעות קריפוטו. כולל בדיקות בק טסטים ואופטימיזציה
            </div>
        </div>
        <br/>
        <br/>
        <div class="row text-center">
            <div class="col-md-4">
                <a href="/crm">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-red"></i>
                        <i class="fas fa-hands-helping fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
                <h4 class="service-heading">Dalore |KYC</h4>
                <p class="text-muted text-right">

                    מערכת לניהול מסחר הכוללת יומן וכלי ניתוח מתקדמים לעסקאות בשוק ההון והקריפטו

                </p>
            </div>
            <div class="col-md-4">
                <a href="/yoman">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-red"></i>
                        <i class="fa fa-calendar  fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
                <h4 class="service-heading">יומן מסחר </h4>
                <p class="text-muted text-right">

                    מערכת לניהול מסחר הכוללת יומן וכלי ניתוח מתקדמים לעסקאות בשוק ההון והקריפטו

                </p>
            </div>
            <div class="col-md-4">
                <a href="/marketing">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-red"></i>
                        <i class="fas fa-bullhorn fa-stack-1x fa-inverse"></i>
                    </span>
                    <i class=""></i>
                </a>
                <h4 class="service-heading"'> מכונת השיווק </h4>
                <p class="text-muted text-right">

                    ניהול מערך השיווק שלך מדפי נחיתה ועד ניתוח עלויות מול ביצועים

                </p>
            </div>
        </div>

</section>