<!-- ======= Services Section ======= -->
<section id="services" class="services ">
    <div class="container text-hebrew text-right" data-aos="fade-up">

        <div class="section-title">
            <h2> {{page.products_1_title}} </h2>
        </div>

        <div class="row">
            {% for product in page.products_1 %}
            <div class="col-xl-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon-box text-center">
                    
                    <div class="text-center"><img src="{{product.image_url}}" class="img-fluid " alt="" width="150"></div>
                    <br/>
                    <b class="">
                        <a href="{{product.href}}" class="text-center">{{product.title}}</a>
                    </b>
                    <p class="text-right text-hebrew">{{product.text}}</p>
                </div>
            </div>
            <br/>
            {% endfor %}
        </div>
        <br/>
        <br/>
        <div class="section-title">
            <h2> {{page.products_2_title}} </h2>
        </div>

        <div class="row">
            {% for product in page.products_2 %}
            <div class="col-xl-6 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon-box text-center">
                    
                    <div class="text-center"><img src="{{product.image_url}}" class="img-fluid " alt="" width="150"></div>
                    <br/>
                    <b class="">
                        <a href="{{product.href}}" class="text-center">{{product.title}}</a>
                    </b>
                    <p class="text-right text-hebrew">{{product.text}}</p>
                </div>
            </div>
            <br/>
            {% endfor %}
        </div>
        
        
        <br/>
        <br/>
      
        
            <div class="section-title">
                <h2> {{page.products_3_title}} </h2>
            </div>
        <div class="row">
            
            {% for product in page.products3 %}
            <div class="col-xl-6 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon-box  text-center">
                    
                    <div class="text-center"><img src="{{product.image_url}}" class="img-fluid" alt="" width="150"></div>
                    <br/>
                    <b class="text-center">
                        <a href="{{product.href}}">{{product.title}}</a></b>
                    <p class="text-right text-hebrew">{{product.text}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section><!-- End Services Section -->

