<!-- ======= Services Section ======= -->
<section id="services" class="services ">
    <div class="container text-hebrew text-right" data-aos="fade-up">

        <div class="section-title">
            <h2> מוצרים ושרותים </h2>
        </div>

        <div class="row">
            {% for product in page.products %}
            <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon-box">
                    
                    <div class="text-center"><img src="{{product.image_url}}" class="img-fluid" alt="" width="50"></div>
                    <br/>
                    <b class="text-center">
                        <a href="">{{product.title}}</a></b>
                    <p>{{product.text}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        
        
        <br/>
        <br/>
        
        
        <div class="row">
            {% for product in page.products2 %}
            <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon-box">
                    
                    <div class="text-center"><img src="{{product.image_url}}" class="img-fluid" alt="" width="50"></div>
                    <br/>
                    <b class="text-center">
                        <a href="">{{product.title}}</a></b>
                    <p>{{product.text}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section><!-- End Services Section -->

