
<section id="team" class="team section-bg">
      <div class="container aos-init aos-animate" data-aos="fade-up">

        <div class="section-title">
          <h2>הלקוחות שלנו מדברים</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row text-hebrew text-right">
            {% for contact in page.tesemonials %}
          <div class="col-lg-6">
            <div class="member d-flex align-items-start aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100">
              <div class="pic"><img src="{{contact.image_url}}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>{{contact.name}}</h4>
                <span>{{contact.title}}</span>
                <p>{{contact.message}}</p>
              </div>
            </div>
          </div>
            {% endfor %}
         

        </div>

      </div>
    </section>