<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" style="direction:rtl;">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
      
            <a class="navbar-brand page-scroll" href="/dalore-site/index">
                <image src="/dalore-site/img/dalor-logo-square.png" style="height:50px;margin-top:-16px" class="pull-left"/>
                דלור פתרונות תוכנה פיננסים
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="scollapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="/dalore-site/index.html"></a>
                </li>
                
                
                <li>
                    <a class="page-scroll" href="/dalore-site//index#contact">צור קשר</a>
                </li>
                
                <li>
                    <a class="page-scroll" href="/dalore-site//index#services">שרותים</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">מוצרים <span class="caret"></span></a>
                    <ul class="dropdown-menu" style="background-color: #fff; color:#333; text-align: right;">
                      <li><a href="/dalore-site/yoman" class="sub-menu">
                        <i class="fa fa-briefcase"></i>
                        יומן מסחר
                    </a></li>
                      <li><a href="/dalore-site/ibttp"  class="sub-menu">
                        <i class="fa fa-plug"></i>
                        IBTTP BRIDGE

                      </a></li>
                      <li><a href="/dalore-site/rde"  class="sub-menu">
                        <i class="fa fa-robot"></i>
                        DALORE RDE

                      </a></li>
                      
                    </ul>
                  </li>
                <li>
                    <a class="page-scroll" href="/dalore-site/index#team">אודות</a>
                </li>
                
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
