
<!DOCTYPE html>
<html lang="en">

{% include head.html %}


  
  {% include header.html %}
  {% include custome-hero.html %}   
  

  <section id="about" class="about">
      <div class="container aos-init aos-animate" data-aos="fade-up">

        <div class="section-title">
          <h2>About Us</h2>
        </div>

        <div class="row content">
          <div class="col-lg-6">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat</li>
              <li><i class="ri-check-double-line"></i> Duis aute irure dolor in reprehenderit in voluptate velit</li>
              <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat</li>
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
              velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
              culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <a href="#" class="btn-learn-more">Learn More</a>
          </div>
        </div>

      </div>
    </section>
  
  
  

   <!-- ======= Skills Section ======= -->
   <section id="skills" class="skills section-bg" style="direction:rtl; text-align:right">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>ניהול מערך שיווק</h2>
        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
      </div>

      <div class="row">
        <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left" data-aos-delay="100">
          <h3> ניהול חשבונות מסחר</h3>
          <p class="font-italic">


            הלילה תקפו מטוסי קרב של חיל האוויר בסוריה מטרות צבאיות ובהן מחסנים, מפקדות ומתחמים צבאיים של כוח קודס
            האיראני והצבא הסורי - בתגובה למטענים שהונחו בגבול הגולן. לפי הדיווחים, עשרה נהרגו בתקיפה, בהם גם אזרחים
            איראנים. נתניהו: "מי שמנסה לתקוף אותנו - דמו בראשו". גנץ: "המשטר הסורי נושא באחריות"

          </p>
          <div class="skills-content">


           
          </div>




          <h3> ניהול חשבונות מסחר</h3>
          <p class="font-italic">


            הלילה תקפו מטוסי קרב של חיל האוויר בסוריה מטרות צבאיות ובהן מחסנים, מפקדות ומתחמים צבאיים של כוח קודס
            האיראני והצבא הסורי - בתגובה למטענים שהונחו בגבול הגולן. לפי הדיווחים, עשרה נהרגו בתקיפה, בהם גם אזרחים
            איראנים. נתניהו: "מי שמנסה לתקוף אותנו - דמו בראשו". גנץ: "המשטר הסורי נושא באחריות"

          </p>
          <div class="skills-content">


            <ul>
              <li>
                k;sldkfsd;lksd;lfk;sldkf;sldkflsk
              </li>
              <li>
                k;sldkfsd;lksd;lfk;sldkf;sldkflsk
              </li>
            </ul>
          </div>



        </div>

        <div class="col-lg-6 d-flex align-items-center" data-aos="fade-right" data-aos-delay="100">
          <img src="img/why-us.png" class="img-fluid" alt="">
        </div>
        
      </div>

      
    </div>

    </div>
  </section><!-- End Skills Section -->




    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills" style="direction:rtl; text-align:right">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>פתיחת חשבון </h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>


        <div class="row">
          <div class="col-lg-6 d-flex align-items-center" data-aos="fade-right" data-aos-delay="100">
            <img src="img/why-us.png" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left" data-aos-delay="100">
            <h3> ניהול חשבונות מסחר</h3>
            <p class="font-italic">


              הלילה תקפו מטוסי קרב של חיל האוויר בסוריה מטרות צבאיות ובהן מחסנים, מפקדות ומתחמים צבאיים של כוח קודס
              האיראני והצבא הסורי - בתגובה למטענים שהונחו בגבול הגולן. לפי הדיווחים, עשרה נהרגו בתקיפה, בהם גם אזרחים
              איראנים. נתניהו: "מי שמנסה לתקוף אותנו - דמו בראשו". גנץ: "המשטר הסורי נושא באחריות"

            </p>
            <div class="skills-content">


             
            </div>




            <h3> ניהול חשבונות מסחר</h3>
            <p class="font-italic">


              הלילה תקפו מטוסי קרב של חיל האוויר בסוריה מטרות צבאיות ובהן מחסנים, מפקדות ומתחמים צבאיים של כוח קודס
              האיראני והצבא הסורי - בתגובה למטענים שהונחו בגבול הגולן. לפי הדיווחים, עשרה נהרגו בתקיפה, בהם גם אזרחים
              איראנים. נתניהו: "מי שמנסה לתקוף אותנו - דמו בראשו". גנץ: "המשטר הסורי נושא באחריות"

            </p>
            <div class="skills-content">


              <ul>
                <li>
                  k;sldkfsd;lksd;lfk;sldkf;sldkflsk
                </li>
                <li>
                  k;sldkfsd;lksd;lfk;sldkf;sldkflsk
                </li>
              </ul>
            </div>



          </div>

        </div>

        
      </div>

      </div>
    </section><!-- End Skills Section -->


    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg" style="direction:rtl; text-align:right">

      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>ניהול חשבונות</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row">
          <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left" data-aos-delay="100">
            <h3> ניהול חשבונות מסחר</h3>
            <p class="font-italic">


              הלילה תקפו מטוסי קרב של חיל האוויר בסוריה מטרות צבאיות ובהן מחסנים, מפקדות ומתחמים צבאיים של כוח קודס
              האיראני והצבא הסורי - בתגובה למטענים שהונחו בגבול הגולן. לפי הדיווחים, עשרה נהרגו בתקיפה, בהם גם אזרחים
              איראנים. נתניהו: "מי שמנסה לתקוף אותנו - דמו בראשו". גנץ: "המשטר הסורי נושא באחריות"

            </p>
            <div class="skills-content">


             
            </div>




            <h3> ניהול חשבונות מסחר</h3>
            <p class="font-italic">


              הלילה תקפו מטוסי קרב של חיל האוויר בסוריה מטרות צבאיות ובהן מחסנים, מפקדות ומתחמים צבאיים של כוח קודס
              האיראני והצבא הסורי - בתגובה למטענים שהונחו בגבול הגולן. לפי הדיווחים, עשרה נהרגו בתקיפה, בהם גם אזרחים
              איראנים. נתניהו: "מי שמנסה לתקוף אותנו - דמו בראשו". גנץ: "המשטר הסורי נושא באחריות"

            </p>
            <div class="skills-content">


              <ul>
                <li>
                  k;sldkfsd;lksd;lfk;sldkf;sldkflsk
                </li>
                <li>
                  k;sldkfsd;lksd;lfk;sldkf;sldkflsk
                </li>
              </ul>
            </div>



          </div>

          <div class="col-lg-6 d-flex align-items-center" data-aos="fade-right" data-aos-delay="100">
            <img src="img/why-us.png" class="img-fluid" alt="">
          </div>
          
        </div>

        
      </div>

      </div>
    </section><!-- End Skills Section -->

    
    
    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills" style="direction:rtl; text-align:right">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>פתיחת חשבון </h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>


        <div class="row">
          <div class="col-lg-6 d-flex align-items-center" data-aos="fade-right" data-aos-delay="100">
            <img src="img/why-us.png" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left" data-aos-delay="100">
            <h3> ניהול חשבונות מסחר</h3>
            <p class="font-italic">


              הלילה תקפו מטוסי קרב של חיל האוויר בסוריה מטרות צבאיות ובהן מחסנים, מפקדות ומתחמים צבאיים של כוח קודס
              האיראני והצבא הסורי - בתגובה למטענים שהונחו בגבול הגולן. לפי הדיווחים, עשרה נהרגו בתקיפה, בהם גם אזרחים
              איראנים. נתניהו: "מי שמנסה לתקוף אותנו - דמו בראשו". גנץ: "המשטר הסורי נושא באחריות"

            </p>
            <div class="skills-content">


             
            </div>




            <h3> ניהול חשבונות מסחר</h3>
            <p class="font-italic">


              הלילה תקפו מטוסי קרב של חיל האוויר בסוריה מטרות צבאיות ובהן מחסנים, מפקדות ומתחמים צבאיים של כוח קודס
              האיראני והצבא הסורי - בתגובה למטענים שהונחו בגבול הגולן. לפי הדיווחים, עשרה נהרגו בתקיפה, בהם גם אזרחים
              איראנים. נתניהו: "מי שמנסה לתקוף אותנו - דמו בראשו". גנץ: "המשטר הסורי נושא באחריות"

            </p>
            <div class="skills-content">


              <ul>
                <li>
                  k;sldkfsd;lksd;lfk;sldkf;sldkflsk
                </li>
                <li>
                  k;sldkfsd;lksd;lfk;sldkf;sldkflsk
                </li>
              </ul>
            </div>

  

          </div>

        </div>

        
      </div>

      </div>
    </section><!-- End Skills Section -->

     
    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2> מסכים לדוגמא</h2>
          </div>
  
          <ul id="portfolio-flters" class="d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-card">מובייל</li>
            <li data-filter=".filter-web">Web</li>
          </ul>
  
          <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

               
              {% for img in page.screenshots %}
            <div class="col-lg-4 col-md-6 portfolio-item filter-{{img.category}}">
              <div class="portfolio-img"><img src="{{img.image_url}}" class="img-fluid" alt=""></div>
              <div class="portfolio-info">
                <h4>{{img.title}}</h4>
                <p>App</p>
                <a href="{{img.image_url}}" data-gall="portfolioGallery" class="venobox preview-link" title="{{img.title}}"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
              {% endfor %}
              
            
           
            </div>
  
          </div>
  
        </div>
      </section><!-- End Portfolio Section -->
  
  
  
      
      <section id="pricing" class="pricing">
      <div class="container aos-init aos-animate" data-aos="fade-up">

        <div class="section-title">
          <h2>מחירים</h2>
          
        </div>

        <div class="row">

          <div class="col-lg-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
            <div class="box">
              <h3>Free Plan</h3>
              <h4><sup>$</sup>0<span>per month</span></h4>
              <ul>
                <li><i class="bx bx-check"></i> Quam adipiscing vitae proin</li>
                <li><i class="bx bx-check"></i> Nec feugiat nisl pretium</li>
                <li><i class="bx bx-check"></i> Nulla at volutpat diam uteera</li>
                <li class="na"><i class="bx bx-x"></i> <span>Pharetra massa massa ultricies</span></li>
                <li class="na"><i class="bx bx-x"></i> <span>Massa ultricies mi quis hendrerit</span></li>
              </ul>
              <a href="#" class="buy-btn">Get Started</a>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
            <div class="box featured">
              <h3>Business Plan</h3>
              <h4><sup>$</sup>29<span>per month</span></h4>
              <ul>
                <li><i class="bx bx-check"></i> Quam adipiscing vitae proin</li>
                <li><i class="bx bx-check"></i> Nec feugiat nisl pretium</li>
                <li><i class="bx bx-check"></i> Nulla at volutpat diam uteera</li>
                <li><i class="bx bx-check"></i> Pharetra massa massa ultricies</li>
                <li><i class="bx bx-check"></i> Massa ultricies mi quis hendrerit</li>
              </ul>
              <a href="#" class="buy-btn">Get Started</a>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0 aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
            <div class="box">
              <h3>Developer Plan</h3>
              <h4><sup>$</sup>49<span>per month</span></h4>
              <ul>
                <li><i class="bx bx-check"></i> Quam adipiscing vitae proin</li>
                <li><i class="bx bx-check"></i> Nec feugiat nisl pretium</li>
                <li><i class="bx bx-check"></i> Nulla at volutpat diam uteera</li>
                <li><i class="bx bx-check"></i> Pharetra massa massa ultricies</li>
                <li><i class="bx bx-check"></i> Massa ultricies mi quis hendrerit</li>
              </ul>
              <a href="#" class="buy-btn">Get Started</a>
            </div>
          </div>

        </div>

      </div>
    </section>



  {% include footer.html %}
  {% include scripts.html %}

</html>
